.container {
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #fff;
}

.logo {
    height: 60px;
}