.card {
    flex: 1;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 30px 30px 35px 30px;
}

.smallCard {
    flex-direction: row;
    justify-content: flex-start;
}

.largeCard {
    flex-direction: column;
    justify-content: space-between;
    padding-right: 70px;
}

.cardText {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cardHead {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.cardSub {
    font-size: 11px;
    font-weight: 400;
}

.cardImage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20px;

}

.cardImage img {
    height: 40px;
    border-radius: 10px;
    /* height: 100%; */
    object-fit: contain;
}

@media screen and (max-width: 1400px) {
    .cardImage img {
        height: 30px;
    }

    .card {
        padding: 20px 20px 25px 20px;
    }

    .largeCard {
        padding-right: 50px;
    }
}