.heading {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 20px 0;
}

.headline {
    font-size: 48px;
    font-weight: 700;
    margin: 10px 0;
}

.headingImg {
    height: 50px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.headingImg img {
    height: 60px;
}

.headingBody {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #808080;
}

.headingBtn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1400px) {
    .heading {
        width: 60%;
    }
}

@media screen and (max-width: 1200px) {
    .heading {
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    .heading {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .headline {
        font-size: 36px;
    }
}

@media screen and (max-width: 576px) {
    .headline {
        font-size: 28px;
    }
    .headingImg {
        flex-direction: column;
        gap: 10px;
    }
}